.Logo {
    height: 100%;
  }
  
  .StickyLogo {
    width: 147px;
  }
  
  .UnstickyLogo {
    width: 156px;
  }
  
  .Logo img {
    height: auto;
    width: 100%;
  }
  
  .Logo a:link,
  .Logo a:visited {
    border-bottom: none;
  }
  