.header {
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.699), rgba(0, 0, 0, 0.699)), url("https://requestwheel.com/images/wheel.png"); */
    background-size: cover;
    background-position: center;
    height: 70vh;
    background-attachment: fixed;
}