.btn {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btnFull {
    background-color: #90291D;
    border: 1px solid #90291D;
    color: #fff;
    margin-right: 15px;
}

.btnGhost {
    border: 1px solid #90291D;
    color: #90291D;
}

.btn:hover, .btn:active {
    background-color: #5C1A12;
}

.btnFull:hover, .btnFull:active {
    border: 1px solid #5C1A12;
}

.btnGhost:hover, .btnGhost:active {
    border: 1px solid #5C1A12;
    color: #fff;
}