.btn {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: all .2s;
}

.btn:hover, .btn:active {
    transform: scale(1.05);
}

.btnFull {
    /* background-color: #DB3D2C; */
    background-image: linear-gradient(to right bottom, #DB3D2C, #9C2C1F);
    border: none;
    color: #fff;
    margin-right: 15px;
}

.btnGhost {
    border: 1px solid #DB3D2C;
    color: #DB3D2C;
    /* transition: all .2s; */
    padding: 9px 29px;
}

/* .btn:hover, .btn:active {
    background-color: #5C1A12;
} */

.btnFull:hover, .btnFull:active {}

.btnGhost:hover, .btnGhost:active {
    border: none;
    color: #fff;
    background-image: linear-gradient(to right bottom, #DB3D2C, #9C2C1F);
}

.btnGhostWhite {
    border: 1px solid #fff;
    color: #fff;
    padding: 9px 29px;
}

.btnWhite {
    background-image: linear-gradient(to right bottom, #ffffff, #fdccc6);
}

.btnGhostWhite:hover, .btnGhost:active {
    background-image: linear-gradient(to right bottom, #ffffff, #fdccc6);
    color: rgb(19, 19, 19);
    border: none;
}