/* BASE RED: 90291D */



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  /* background-color: rgb(228, 228, 228); */
  font-family: 'Source Sans Pro', sans-serif;
  color: rgb(20, 20, 20);
  font-weight: 400;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.clearfix {
  zoom: 1
}

.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* a {
  color: inherit;
  text-decoration: none;
} */

/* --------------------------- */

/* REUSABLE COMPONENTS */

/* --------------------------- */

.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 80px 0;
}

.box {
  padding: 1%;
}

/* HEADINGS */

h1, h2, h3 {
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
  word-spacing: 4px;
  letter-spacing: 1px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
}

h2:after {
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

/* PARAGRAPHS */

.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
}

.box p {
  font-size: 90%;
  line-height: 145%;
}

/* LINKS */

a:link, a:visited {
  color: #e67e22;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid #e67e22;
  transition: border-bottom 0.2s, color 0.2s
}

a:hover, a:active {
  color: rgb(102, 102, 102);
  border-bottom: 1px solid transparent;
}